@media (max-width: 600px) {
    #banner {
        height: 40%;
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 5vh;
        box-shadow: 0 60px 60px 150px #000626;
    }

    #titleSection {
        width: 60vw;
        background-color: #000626;
        display: block;
        position: relative;
        height: 75%;
        align-self: center;
        margin-bottom: 2vh;
        /*box-shadow: 0px 10px 25px 10px #000626;*/
    }

    #headDisplay{
        /* make sure this matches your site background exactly */
        --bg: #000626;

        position: relative;
        overflow: hidden;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 80%;
        height: 50vh;
        background-color: var(--bg);
        background-image:
                linear-gradient(to bottom,
                rgba(0, 6, 38, 0) 70%,
                rgba(0, 6, 38, 1) 115%),
                radial-gradient(circle farthest-corner at 50% 10%,
                rgba(0, 6, 38, 0) 52%,
                rgba(0, 6, 38, .35) 70%,
                rgba(0, 6, 38, 1) 92%,
                rgba(0, 6, 38, 1) 112%
                );


        background-size: 100% 100%, 100% 100%, cover;
        background-position: center, center, center;
        background-repeat: no-repeat;

        transition: opacity 400ms ease;
        will-change: opacity;

        box-shadow: 0 -20px 15px 5px #000626 inset, -5px 5px #000626;
        /*outline: 5px solid #000626;*/
        align-self: center;
    }

    #TVBlock {
        z-index: 99;
        position: absolute;
        top: 2.5vh;
        margin-bottom: 5%;
        width: 110%;
        height: 140%;
        background-color: #002bff;
        box-shadow: 0 0 25px 10px #000;
        justify-content: center;
        left: -5%;
        overflow: hidden;
    }

    #NMtext {
        text-shadow: -.2vw -.3vh #e613ff, .2vw .3vh #00e4ff;
        font-family: Audiowide;
        left: 4%;
        position: absolute;
        font-size: 11vw;
        margin: 0;
    }

    #titleBottomHalf {
        left: 11%;
        margin-top: 18%;
        position: absolute;
        display: flex;
    }

    #NMlogo {
        width: 23vw;
        animation: imgGlitch 5.0s infinite;
    }

    #TVtext {
        text-shadow: .2vw .3vh #00e4ff, -.2vw -.3vh #e613ff;
        font-family: Audiowide;
        font-size: 18vw;
        margin: 0;
    }

    .scrollLabel {
        margin-left: 3vw;
        margin-bottom: 0;
        color: #ffffff;
        font-family: Audiowide;
        font-size: 5vw;
        text-shadow: 0 0 .3vw #ffffff;
    }

    #sorterDiv {
        margin-top: 1vw;
        display: flex;
        justify-content: left;
    }

    .sortContainer {
        display: grid;
        margin-top: .5vw;
        justify-content: left;
        justify-items: left;
    }

    .sortOpt {
        font-family: Audiowide;
        font-size: 3.5vw;
        border-radius: 20px;
        width: 20vw;
        height: 15vw;
        margin-left: 1vh;
        text-shadow: 0 0 .6vw #0093ff;
        background-color: #2b0055;
        color: #00f7ff;
        border: solid 1px #49008c;
    }

    .selectedSort {
        color: #ff89fe;
        text-shadow: 0 0 .6vw #ff00d5;
    }

    .scrollBar {
        margin-left: .5vw;
        display: flex;
        flex-wrap: nowrap;
        background-color: rgba(0, 6, 38, 0);
        height: 24vw;
        width: 200vw;
        min-width: 0;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .linkbutton{
        margin-top: 0.5vw;
        object-fit: cover;
        width: 30vw;
        height: 15vw;
        border: 3px solid #11b7ff;
        border-radius: 500px;
        background: linear-gradient(45deg, transparent 5%, #171a30 5%);
        color: #11b7ff;
        outline: transparent;
        display: inline-block;
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        transition: transform .5s;
    }
}