body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #000000;
    height: 100%;
    margin: 0;
}

#banner {
    background: #000626;
    display: flex;
    height: 25vw;
    z-index: 2;
    box-shadow: 0 60px 60px 350px #000626;
}

#titleSection {
    width: 60vw;
    background-color: #000626;
    display: block;
    position: relative;
    height: 100%;
    /*box-shadow: 0px 10px 25px 10px #000626;*/
}

#TVBlock {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    width: 90%;
    height: 60%;
    background-color: #002bff;
    box-shadow: 0 0 20px 20px #000;
    justify-content: center;
    left: 5%;
    overflow: hidden;
}


#crtvLayer {
    position: relative;
    width: 100%;
    height: 100%;
}

#NMtext {
    text-shadow: -.2vw -.3vh #e613ff, .2vw .3vh #00e4ff;
    font-family: Audiowide;
    left: 15%;
    position: absolute;
    font-size: 4.5vw;
    margin: 0;
}

#titleBottomHalf {
    left: 15%;
    margin-top: 13%;
    position: absolute;
    display: flex;
}

#NMlogo {
    width: 10.5vw;
    animation: imgGlitch 5.0s infinite;
}

#TVtext {
    text-shadow: .2vw .3vh #00e4ff, -.2vw -.3vh #e613ff;
    font-family: Audiowide;
    font-size: 8vw;
    margin: 0;
}

#headDisplay{
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 400px;
    width: 100%;
    height: 25vw;
    background-color: #000626;

    background-size: 100% 100%, 100% 100%, cover;
    background-position: center, center, center;
    background-repeat: no-repeat;

    transition: opacity 400ms ease;
    will-change: opacity;

    box-shadow: 50px -40px 15px 5px #000626 inset, -5px 5px #000626;
    outline: 5px solid #000626;
}

#headDisplay.is-fading {
    opacity: 0;
}

.screen{
    z-index: 3;
    position: fixed;
    inset: 0;                 /* top:0 right:0 bottom:0 left:0 */
    background: black;
    background-size: cover;
    overflow: hidden;
    transform-origin: 50% 50%;
    will-change: transform, opacity, background-color;
}

#channelMenu {
    position: relative;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0, 6, 38, 0);
    scrollbar-width: auto;
    scrollbar-color: #00f7ff #0068b1;
    will-change: scroll-position;
}

#channelMenu::-webkit-scrollbar {
    width: 12px;
}

#channelMenu > *:not(#fluidBy) {
    position: relative;
    z-index: 1;
}

#fluidBg {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* doesn’t block UI */
    z-index: 0;
    display: block;
    will-change: transform;
    transform: translateZ(0);
}

#body-content {
    width: 100vw;
    height: 100%;
}

.scrollLabel {
    margin-left: 1.5vw;
    color: #ffffff;
    font-family: Audiowide;
    font-size: 1.5vw;
    text-shadow: 0 0 .3vw #ffffff;
}

.sortContainer {
    display: grid;
    margin-top: 3vw;
    justify-content: left;
    justify-items: left;
}

.marginEliminator {
    margin-top: 0;
}

#sorterDiv {
    margin-top: 0.5vw;
    display: flex;
    justify-content: left;
}

.sortOpt {
    font-family: Audiowide;
    font-size: .75vw;
    border-radius: 20px;
    width: 5vw;
    height: 2.5vw;
    margin-left: 1vw;
    text-shadow: 0 0 .3vw #0093ff;
    background-color: #2b0055;
    color: #00f7ff;
    border: solid 1px #49008c;
}

.sortOpt:hover {
    box-shadow: 0 0 10px #8600ff, 0 0 10px #5500ff inset;
}

.selectedSort {
    color: #ff89fe;
    text-shadow: 0 0 .3vw #ff00d5;
}

.scrollBar {
    padding-left: .5vw;
    display: flex;
    flex-wrap: nowrap;
    height: 9vw;
    width: 100vw;
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#scrollBar::-webkit-scrollbar {
    display: none;
}

#back {
    z-index: 99;
    opacity: 1;
    position: absolute;
    left: 2vw;
    top: 2vh;
    width: 50px;
    transition: opacity 1s;
    cursor: pointer;
}

#settings {
    z-index: 99;
    display: block;
    opacity: 1;
    position: absolute;
    right: 2vw;
    top: 2vh;
    width: 50px;
    transition: transform 1s;
}
#settings:hover {
    transform: rotateX(360deg) rotateY(360deg);
    animation: imgGlitch 3.0s infinite;
}

.linkdiv{
    flex: 0 0 auto;
    padding: 0.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.linkbutton{
    margin-top: 0.5vw;
    object-fit: cover;
    width: 10vw;
    height: 5vw;
    border: 3px solid #11b7ff;
    border-radius: 500px;
    background: linear-gradient(45deg, transparent 5%, #171a30 5%);
    color: #11b7ff;
    outline: transparent;
    display: inline-block;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform .5s;
}

.linkbutton:hover {
    z-index: 9999;
    background: linear-gradient(45deg, transparent 5%, #171a30 5%);
    color: #00E6F6;
    border-color: #00E6F6;
    cursor: pointer;
    box-shadow: 0 0 10px #00E6F6;
    transform: scale(125%)
}

.linkbutton:link{
    text-decoration: none;
}

.linkbutton:visited{
    text-decoration: none;
}

