body, html{
	height: 100%;
	margin: 0;
}

body{
	background-color: #000000;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	margin: 0;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.screen{
	position: fixed;
	inset: 0;                 /* top:0 right:0 bottom:0 left:0 */
	background: black;
	background-size: cover;
	overflow: hidden;
	transform-origin: 50% 50%;
	will-change: transform, opacity, background-color;
}

#homepage {
	visibility: hidden;
	min-width: 100%;
	position: absolute;
	z-index: 0;
	perspective: 900px;
	perspective-origin: bottom center;
	min-height: 100%;
	transition: opacity 1s;
}

#skyline{
	z-index: 2;
	width: 100vw;
	height: 75vh;
	background-color: black;
	box-shadow: -0px 50px 60px -10px black;
	position: fixed;
	transform: scaleX(1.5);
	transition: box-shadow 1s;
}
#skyglow{
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 75vh;
	box-shadow: -0px 300px 300px 40px #000626 inset;
	transform: scaleX(1.5);
	transition: background-color 1s;
}

#positioner {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	justify-content: center;
	width: 100vw;
	height: 90vh;
	z-index: 3;
}

#floor{
	overflow: visible;
	position: fixed;
	background: linear-gradient(0deg, #11cfff 26%, #11cfff 85%);
	display: flex;
	flex-direction: row;
	gap: 5px;
	transform: rotateX(65deg) translateX(-2425px) translateY(-1200px) scale(1.0);
	transition: background-color 1s;
}

.col-even{
	margin-top: 53px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	animation: moveY 2s infinite linear;
}

.col{
	display: flex;
	flex-direction: column;
	gap: 5px;
	animation: moveY 2s infinite linear;
}

.tile {
	will-change: transform;
	opacity: 1;
	margin-left: 0px;
	width: 60px;
	height: 104px;
	background-color: #000626;
	position: relative;
	transition: opacity 1s, box-shadow 1s;
	backface-visibility: hidden;
	/*background-image: url("/images/sand.png");*/
	/*mask-size: cover;*/
	/*clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);*/
}

#Moon {
	width: 25vw;
	animation: imgGlitch 5.0s infinite, pulse2 5.0s infinite;
	transition: transform 3s;
}


