name: Deploy To Production

on:
  push:
    branches:
      - main


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and git pull
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOSTIP }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          script: |
            cd /var/www/html/Nyxxus
            git pull
